.noUi-target,.noUi-target *
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	moz-user-select: none;
	ms-touch-action: none;
	ms-user-select: none;
	touch-action: none;
	user-select: none;
	webkit-tap-highlight-color: transparent;
	webkit-touch-callout: none;
	webkit-user-select: none;
}
.noUi-target
{
	position: relative;
}
.noUi-base,.noUi-connects
{
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.noUi-connects
{
	overflow: hidden;
	z-index: 0;
}
.noUi-connect,.noUi-origin
{
	height: 100%;
	ms-transform-origin: 0 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 0 0;
	transform-style: flat;
	webkit-transform-origin: 0 0;
	webkit-transform-style: preserve-3d;
	width: 100%;
	will-change: transform;
	z-index: 1;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin
{
	left: 0;
	right: auto;
}
.noUi-vertical .noUi-origin
{
	top: -100%;
	width: 0;
}
.noUi-horizontal .noUi-origin
{
	height: 0;
}
.noUi-handle
{
	backface-visibility: hidden;
	position: absolute;
	webkit-backface-visibility: hidden;
}
.noUi-touch-area
{
	height: 100%;
	width: 100%;
}
.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin
{
	transition: transform .3s;
	webkit-transition: transform .3s;
}
.noUi-state-drag *
{
	cursor: inherit!important;
}
.noUi-horizontal
{
	height: 4px;
}
.noUi-horizontal .noUi-handle
{
	height: 20px;
	right: -7px;
	top: -7px;
	width: 20px;
	border-radius: 50%;
	background-color: #000;
	border: 3.5px solid orange;
}
.noUi-vertical
{
	width: 18px;
}
.noUi-vertical .noUi-handle
{
	bottom: -17px;
	height: 34px;
	right: -6px;
	width: 28px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle
{
	left: -17px;
	right: auto;
}
.noUi-target
{
	background: rgb(255, 123, 0);
	box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}
.noUi-connects
{
	border-radius: 3px;
}
.noUi-connect
{
	background: #000;
}
.noUi-draggable
{
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable
{
	cursor: ns-resize;
}
.noUi-handle
{
	background: #FFF;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	/* box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; */
	cursor: default;
}
.noUi-active
{
	box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}
/* .noUi-handle:after,.noUi-handle:before
{
	background: #E8E7E6;
	content: "";
	display: block;
	height: 14px;
	left: 14px;
	position: absolute;
	top: 6px;
	width: 1px;
} */
.noUi-handle:after
{
	left: 17px;
}
.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before
{
	height: 1px;
	left: 6px;
	top: 14px;
	width: 14px;
}
.noUi-vertical .noUi-handle:after
{
	top: 17px;
}
[disabled] .noUi-connect
{
	background: #B8B8B8;
}
[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target
{
	cursor: not-allowed;
}
.noUi-pips,.noUi-pips *
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
.noUi-pips
{
	color: #999;
	position: absolute;
}
.noUi-value
{
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-value-sub
{
	color: #ccc;
	font-size: 10px;
}
.noUi-marker
{
	background: #CCC;
	position: absolute;
}
.noUi-marker-sub
{
	background: #AAA;
}
.noUi-marker-large
{
	background: #AAA;
}
.noUi-pips-horizontal
{
	height: 80px;
	left: 0;
	padding: 10px 0;
	top: 100%;
	width: 100%;
}
.noUi-value-horizontal
{
	transform: translate(-50%,50%);
	webkit-transform: translate(-50%,50%);
}
.noUi-rtl .noUi-value-horizontal
{
	transform: translate(50%,50%);
	webkit-transform: translate(50%,50%);
}
.noUi-marker-horizontal.noUi-marker
{
	height: 5px;
	margin-left: -1px;
	width: 2px;
}
.noUi-marker-horizontal.noUi-marker-sub
{
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large
{
	height: 15px;
}
.noUi-pips-vertical
{
	height: 100%;
	left: 100%;
	padding: 0 10px;
	top: 0;
}
.noUi-value-vertical
{
	padding-left: 25px;
	transform: translate(0,-50%);
	webkit-transform: translate(0,-50%);
}
.noUi-rtl .noUi-value-vertical
{
	transform: translate(0,50%);
	webkit-transform: translate(0,50%);
}
.noUi-marker-vertical.noUi-marker
{
	height: 2px;
	margin-top: -1px;
	width: 5px;
}
.noUi-marker-vertical.noUi-marker-sub
{
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large
{
	width: 15px;
}
.noUi-tooltip
{
	color: rgb(97, 97, 97);
	display: block;
	padding: 5px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip
{
	left: 50%;
	transform: translate(-50%,0);
	webkit-transform: translate(-50%,0);
}
.noUi-vertical .noUi-tooltip
{
	right: 120%;
	top: 50%;
	transform: translate(0,-50%);
	webkit-transform: translate(0,-50%);
}
.noUi-horizontal .noUi-origin>.noUi-tooltip
{
	bottom: 10px;
	left: auto;
	transform: translate(50%,0);
	webkit-transform: translate(50%,0);
}
.noUi-vertical .noUi-origin>.noUi-tooltip
{
	right: 28px;
	top: auto;
	transform: translate(0,-18px);
	webkit-transform: translate(0,-18px);
}